
 
            <div class = "heading-explore">
            
              Explore Top Essays
            <hr>
               
            </div>
            <hr >
            <ol class="labels-list"> 
            <% @topics.each do |topic| %>
               <!-- <div class="offer offer-warning"> -->
                   
                    
                   
                 <li class = "list-text">  <%= link_to topic do %>
                      
                             <%= topic.issue %>
                           
                          Total Essays <span class="badge"><%= topic.posts.count %></span>
                         

                        

                    <% end %>    
                        
                          <!--link to send user to writing path-->
              </li>

            <% end %>
            </ol>
                
            <%= link_to 'New Topic', new_topic_path %>
 

      