
 
            <div class = "heading-explore">
            
              Explore Top Essays
            <hr>
               
            </div>
            <hr >
            
            <% @topics.each do |topic| %>
               <div class="offer offer-warning">
                   <div class="shape">
                      <div class="shape-text">
                          top             
                      </div>
                    </div>

                   <%= link_to topic do %>
                       <div class="offer-content">
                          <div class="offer-text">
                             <%= topic.issue %>
                          </div> 
                          </br>Total Essays <span class="badge"><%= topic.posts.count %></span>
                       </div>
                       </div>   

                        

                    <% end %>      
                        
                          <!--link to send user to writing path-->
              

            <% end %>
                
            <%= link_to 'New Topic', new_topic_path %>



      