<div class="row">
      <div class="col-md-2">


      </div>

      <div class="col-md-8">
            <h1>Listing topics</h1>

            
            <% @topics.each do |topic| %>
              <div class="panel panel-default">

                <%= link_to topic do %>

                      <div class="panel-body ">
                          <%= topic.issue %>
                      </div>      
                      <div class="panel-footer"><span class="badge"><%= topic.posts.count %></span></div>   

                <% end %>      
              
                <!--link to send user to writing path-->
              </div> 

            <% end %>
                
            <%= link_to 'New Topic', new_topic_path %>
      </div>

      

      <div class="col-md-2">


      </div>

</div>
