<div class="row">
      <div class="col-md-2">


      </div>

      <div class="col-md-8">
            <h1>Listing topics</h1>
            <ul class="list-group">
            <% @topics.each do |topic| %>
                <%= link_to topic do %>
                  <li class="list-group-item ">
                    <span class="badge"><%= @topics.posts.count %></span>
                        <%= topic.issue %>
                  </li>      
                <% end %>      
              
                <!--link to send user to writing path-->
              
            <% end %>
            </div>        
            <%= link_to 'New Topic', new_topic_path %>
      </div>

      

      <div class="col-md-2">


      </div>

</div>
